@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #slideshow,
  #achievement,
  #contact,
  #structure,
  #timeline {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
